# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/.idea/

/remote_cube_sentry/.idea/
/remote_cube_sentry/.cproject/
/remote_cube_sentry/.mxproject/
/remote_cube_sentry/.project/
/remote_cube_sentry/.gitattributes/
/remote_cube_sentry/cmake-build-debug/
